@import "../../../../styles/global.scss";
.container {
  margin-top: 1rem;
  & > * {
    margin-bottom: 5rem;
  }
}
.option {
  border: 2px solid #FFD43B;
  border-radius: 8px;

  padding: 0.5rem 1rem;

  width: 100%;
  margin-bottom: 1rem;

  font-size: optimized-font-size(2);
  display: flex;
  align-items: center;

  background-color: rgba($color: #000000, $alpha: 0);
  cursor: pointer;
  transition: all 0.2s;

  @include disable-user-select;

  color: rgba($color: #FFD43B, $alpha: 0.8);

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }

  &.selected {
    background-color: #ffe588;
    color: rgba($color: #000000, $alpha: 0.8);

    .optionNumber {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .optionNumber {
    width: 30px;
    height: 30px;
    font-size: optimized-font-size(1.5);
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  }
}
