@import "../../styles/global";

.nav {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  .navButtonRight {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .navButtonLeft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
